@model WEB.Models.Loan

@{
    ViewData["Title"] = "Loan";
}

<div class="text-center"><h1 class="display-4">Loan</h1></div>

<h2>Are you sure you want to create the loan?</h2>

<form method="post" asp-action="CreateConfirm">
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Manager" class="btn btn-primary">Cancel</a>
</form>