@model WEB.Models.Book

@{
    ViewData["Title"] = "Create";
    var authors = ViewBag.Authors as IEnumerable<Author>;
    var categories = ViewBag.Categories as IEnumerable<Category>;
    var publishers = ViewBag.Publishers as IEnumerable<Publisher>;
}

<div class="text-center"><h1 class="display-4">@ViewData["Title"]</h1></div>

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" value="0" />

    <div class="form-group">
        <label asp-for="AuthorId" class="control-label">Author Name</label>
        <select asp-for="AuthorId" asp-items="@(new SelectList(authors, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category Name</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(categories, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PublisherId" class="control-label">Publisher Name</label>
        <select asp-for="PublisherId" asp-items="@(new SelectList(publishers, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="PublisherId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ISBN" class="control-label">ISBN</label>
        <input asp-for="ISBN" value="123456789012" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input asp-for="Title" value="NewTitle" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PublishYear" class="control-label">Publish Year</label>
        <input asp-for="PublishYear" value="2023" class="form-control" />
        <span asp-validation-for="PublishYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" value="100000" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="control-label">Quantity</label>
        <input asp-for="Quantity" value="10" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Language" class="control-label">Language</label>
        <input asp-for="Language" value="English" class="form-control" />
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PageCount" class="control-label">Page Count</label>
        <input asp-for="PageCount" value="999" class="form-control" placeholder="Enter page count" />
        <span asp-validation-for="PageCount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Edition" class="control-label">Edition</label>
        <input asp-for="Edition" value="1" class="form-control" placeholder="Enter edition" />
        <span asp-validation-for="Edition" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CoverImagePath" class="control-label">Cover Image:</label>
        <input asp-for="Edition" type="file" name="CoverImage" accept="image/*" />
        <span asp-validation-for="CoverImagePath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>