@model WEB.Models.BookIndexModel

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center"><h1 class="display-4">Delete</h1></div>

<h2>Are you sure you want to delete the book?</h2>

<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.BookId">
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="Manager" class="btn btn-primary">Cancel</a>
</form>

