@using WEB.Models
@model IEnumerable<BookIndexModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center"><h1 class="display-4">Books</h1></div>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Book</a>
<div class="container">
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src=@Url.Content(book.CoverImagePath) alt="@book.Title">
                    <div class="card-body text-center">
                        <h5 class="card-title">@book.Title</h5>
                        <a asp-action="Detail" asp-route-id="@book.BookId" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
