@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center"><h1 class="display-4">@ViewData["Title"]</h1></div>

<h2>About Our Website</h2>
<p>Our website is a platform for managing book borrowing.</p>

<h2>Information We Collect</h2>
<p>When you use our website, we may collect the following information:</p>
<ul>
    <li>Personal information such as your name and email address.</li>
    <li>Demographic information such as your age and location.</li>
    <li>Information about the books you borrow and your reading preferences.</li>
</ul>

<h2>How We Use Your Information</h2>
<p>We use the collected information to:</p>
<ul>
    <li>Facilitate book borrowing and manage your account.</li>
    <li>Personalize your experience on our website.</li>
    <li>Send you relevant notifications and updates.</li>
</ul>

<h2>Information Security</h2>
<p>We take the security of your information seriously. We implement various security measures to protect your data from unauthorized access or disclosure.</p>

<h2>Third-Party Services</h2>
<p>We may use third-party services that collect, process, or store your information. These services have their own privacy policies, and we recommend reviewing them.</p>

<h2>Changes to This Privacy Policy</h2>
<p>We reserve the right to update or modify this privacy policy at any time. Any changes will be effective immediately upon posting the updated policy on our website.</p>