html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #EFF3C4;
    color: #263A29;
}

.navbar {
    background-color: #41644A;
}
.nav-link{
    font-size:20px;
}

.btn {
    background-color: #566E2D !important;
    border: none !important;
    border-radius: 50px !important;
}

    .btn:hover {
        background-color: #C3CC78;
    }

input {
    border: 1px solid #566E2D !important;
}
.display-4 {
    font-weight: bold;
    color: #566E2D;
}
