<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ice Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <a class="nav-link text-light" asp-controller="Books" asp-action="Index">Books</a>
                        <a class="nav-link text-light" asp-controller="Authors" asp-action="Index">Authors</a>
                        <a class="nav-link text-light" asp-controller="Categorys" asp-action="Index">Catrgories</a>
                        <a class="nav-link text-light" asp-controller="Publishers" asp-action="Index">Publishers</a>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <a class="nav-link text-light" asp-controller="Login" asp-action="Index">Login</a>
                        <a class="nav-link text-light" asp-controller="Register" asp-action="Index">Register</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            Nguyễn Anh Tài - Ice Library -
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    var form = document.getElementById("search-form");
    var input = document.getElementById("search-input");

    input.addEventListener("keypress", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            form.submit();
        }
    });
</script>