<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ice Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { bugCode = (int?)null })"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <a class="nav-link text-light" asp-controller="Books" asp-action="Index">Books</a>
                        <a class="nav-link text-light" asp-controller="Authors" asp-action="Index">Authors</a>
                        <a class="nav-link text-light" asp-controller="Categorys" asp-action="Index">Categories</a>
                        <a class="nav-link text-light" asp-controller="Publishers" asp-action="Index">Publishers</a>
                        <a class="nav-link text-light" asp-controller="Books" asp-action="Manager">Manager</a>
                    </ul>

                    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                    @{
                        var HttpContext = HttpContextAccessor.HttpContext;
                        bool IsLogin = bool.Parse(HttpContext!.Session.GetString("IsLogin") ?? "false");
                        if (IsLogin)
                        {
                            string username = HttpContext.Session.GetString("Username")!;
                            <ul class="navbar-nav ms-auto">
                                <a class="nav-link text-light" asp-controller="" asp-action="">Hello @username!</a>
                                <a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Logout</a>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav ms-auto">
                                <li>
                                    <a class="nav-link text-light" href="@Url.Action("Index", "Login", new { bugCode = (int?)null })">Login</a>
                                </li>
                                <a class="nav-link text-light" asp-controller="Register" asp-action="Index">Register</a>
                            </ul>
                        }
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            Nguyễn Anh Tài - Ice Library -
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!--Catch enter press script-->
<script>
    var form = document.getElementById("search-form");
    var input = document.getElementById("search-input");

    input.addEventListener("keypress", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            form.submit();
        }
    });
</script>

<!--Alert container-->
<div id="alert-container"></div>
<!--Alert style-->
<style>
    #alert-container {
        position: fixed;
        top: 60px;
        right: 20px;
        z-index: 9999;
    }

    .alert {
        margin-top: 10px;
    }

    .hide {
        opacity: 0;
    }

    .alert-success {
        background-color: #D4EDDA;
        color: #155724;
    }

    .alert-warning {
        background-color: #FFF3CD;
        color: #856404;
    }

    .alert-danger {
        background-color: #F8D7DA;
        color: #721C24;
    }

    .alert-info {
        background-color: #D1ECF1;
        color: #0C5460;
    }
</style>
<!--Alert script-->
<script>
    function createAlert(message, type) {
        var alertElement = document.createElement('div');
        alertElement.classList.add('alert', 'alert-' + type);
        alertElement.innerText = message;

        var container = document.getElementById('alert-container');
        container.appendChild(alertElement);

        setTimeout(function () {
            alertElement.classList.add('hide');
            setTimeout(function () {
                container.removeChild(alertElement);
            }, 10);
        }, 5000);
    }
</script>


@*
<button class="btn btn-primary" onclick="createAlert('Đây là thông báo thành công!', 'success')">Success</button>
<button class="btn btn-primary" onclick="createAlert('Đây là thông báo cảnh báo!', 'warning')">Warning</button>
<button class="btn btn-primary" onclick="createAlert('Đây là thông báo lỗi!', 'danger')">Danger</button>
<button class="btn btn-primary" onclick="createAlert('Đây là thông báo thông tin!', 'info')">Info</button>
*@
