@using WEB.Models.BookModels
@model IEnumerable<BookIndexVM>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

@foreach (var book in Model)
{
    <div>
        <h2>@book.Title</h2>
        <p>ID: @book.ID</p>
    </div>
}